header{
    background-color: #0a131e;
    #iannuzzo{
        font-family: 'Abril Fatface', serif;
    }
    #auto{
        font-family: 'Orbitron', sans-serif;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

main{
    .edit{
        text-decoration: none;
        border-radius: 100%;
        div{
            width: 40px;
            height: 40px;
            cursor: pointer;
            color: #212529;
        }
        &:hover{
            background-color: #212529;
            i{
                color: white;
            }
        }
    }
    .title{
        border-bottom: 1px solid black;
    }
    .card{
        .car-photo{
            height: 200px;
            object-fit: cover;
        }
        .car-brand{
            font-weight: 400;
        }
        .card-title{
            font-weight: 700;
        }
        .product-price{
            font-weight: bold;
            font-size: 1.2rem;
        }
        .btn-orange{
            background-color: red;
            &:hover{
                background-color: rgb(234, 152, 0);
            }
        }
    }
}

#crea-prodotto-main{
    input, textarea{
        width: 100%;
    }
    p.red{
        color: red;
    }
    input.red, textarea.red{
        border: 1px solid red;
        &::placeholder{
            color: red;
        }
    }
    #buttons-div{
        div{
            column-gap: 10px;
            button{
                flex: 0 0 calc(50% - 5px);
            }
        }
        @media screen and (min-width: 768px){
            div{
                flex: 0 0 calc(50% + 10px);
            }
            .delete-btn{
                flex: 0 0 25%;
            }
        }
    }
}

.my-alert{
    right: 5px !important;
    bottom: 10px;
    margin-left: 5px;
}

.success-message{
    background-color: rgba(0, 184, 0, 0.8);
    border: 2px solid #008300;
}

.error-message{
    background-color: rgba(198, 0, 0, 0.8);
    border: 2px solid rgb(135, 0, 0)
}

#product-info{
    input{
        height: 25px;
        width: 100px;
    }
    .section{
        border-bottom: 1px solid black;
    }
}

#back-office-div{
    border-bottom: 1px solid black;
    #legend{
        p, div{
            font-weight: 700;
        }
    }
    .product{
        p, div{
            font-weight: 500;
        }
        .product-name, .product-brand{
            display: -webkit-box;
        }
        .product-name, .product-brand, .product-description{
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 1;
        }
        .product-price, .product-description{
            display: none;
        }
        .product-price{
            @media screen and (min-width: 576px){
                display: -webkit-box;
            }
        }
        .product-description{
            @media screen and (min-width: 768px){
                display: -webkit-box;
            }
        }
        .edit-btn{
            background-color: blue;
            color: white;
            border: none;
            height: 30px;
            width: 30px;
            &:hover{
                background-color: lighten(blue, 15);
            }
        }
        .delete-btn{
            background-color: red;
            color: white;
            border: none;
            height: 30px;
            width: 30px;
            &:hover{
                background-color: lighten(red, 15);
            }
        }
    }
    .car{
        border: 1px solid black;
        border-top: none;
    }
    .first{
        border-top: 1px solid black;
    }
    .grey{
        background-color: rgba(214, 214, 214, 0.5);
    }
}

#shop-link{
    text-decoration: none;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
}

.car-photo {
    height: 200px;
    object-fit: cover;
}