<main class="row py-4 bg-warning">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4" *ngFor="let p of products">
    <div class="card bg-danger text-white" style="width: 18rem;">
      <img [src]="p.thumbnail" class="card-img-top" alt="product image">
      <div class="card-body">
        <h5 class="card-title">{{p.title}}</h5>
        <p class="card-text">{{p.description}}</p>
        <p class="card-text">{{p.price + " €"}}</p>
        <button class="btn btn-primary mb-3" (click)="toggleFavourite(p)">{{favouriteProducts.indexOf(p) != (-1) ? "Rimuovi dai preferiti" : "Aggiungi ai preferiti"}}</button>
        <button class="btn btn-primary" (click)="toggleCart(p)">{{cartProducts.indexOf(p) != (-1) ? "Rimuovi dal carrello" : "Aggiungi al carrello"}}</button>
      </div>
    </div>
  </div>
</main>
