<header class="d-flex justify-content-between align-items-center">
  <a class="mb-0 text-white text-decoration-none first-link" routerLink="/">WEATHER APP</a>

  <div id="header-menu" class="overflow-hidden" [ngClass]="{'active': active}">
    <nav>
      <ul class="mb-0 ps-0 d-flex align-items-md-center">
        <li><a routerLink="/" class="text-white" (click)="toggleActive()">Home</a></li>
        <li><a routerLink="/meteo" class="text-white" (click)="toggleActive()">Meteo</a></li>
        <li><a class="btn btn-outline-light" routerLink="/auth/login" *ngIf="!isLogged" (click)="toggleActive()">Login</a></li>
        <li><button class="btn btn-outline-light" *ngIf="isLogged" (click)="logout()">Logout</button></li>
      </ul>
    </nav>
  </div>

  <div id="toggler" class="d-flex d-md-none justify-content-between position-relative" (click)="toggleActive()" [ngClass]="{'active': active}">
    <span class="bg-white"></span>
    <span class="bg-white"></span>
    <span class="bg-white"></span>
  </div>
</header>
