#todos-container{
  width: 90%;
  max-width: 800px;
  margin: 20px auto 0 auto;
  padding: 15px;
  min-height: calc(100vh - 116px);
  box-shadow: 0 0 10px rgba(black, 0.5);
  #new-task-container{
    box-shadow: 0 5px 10px rgba(black, 0.2);
    padding: 15px;
    form{
      display: block;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
    input{
      width: calc(100% - 40px);
      height: 25px;
    }
    button{
      width: 30px;
      height: 30px;
      background-color: white;
      border: 2px solid #00ff00;
      color: #00ff00;
      font-weight: 700;
      cursor: pointer;
      svg{
        margin-bottom: -3.5px;
        fill: #00ff00;
      }
    }
  }
}

h1{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

#todos{
  .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(black, 0.2);
    &.completed{
      box-shadow: 0 0 10px rgba(#00ff00, 0.5);
    }
    &:hover{
      background-color: rgb(249, 227, 255);
    }
    .todo-info{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      p{
        cursor: default;
      }
      .todo-title{
        svg{
          margin-bottom: -3px;
        }
      }
    }
    .todo-buttons{
      flex: 0 0 120px;
      display: flex;
      justify-content: end;
      column-gap: 5px;
      button{
        width: 30px;
        height: 30px;
        background-color: white;
        cursor: pointer;
        svg{
          margin-bottom: -2px;
        }
      }
      .edit-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.8px;
        height: 26.8px;
        border: 2px solid blue;
        &:hover{
          background-color: blue;
          svg{
            fill: white
          }
        }
      }
      .delete-btn{
        border: 2px solid red;
        &:hover{
          background-color: red;
          svg{
            fill: white
          }
        }
      }
    }
  }
}

.loader{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  p{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
