div{
  width: calc(100% + 2px);
  height: calc(100vh - 58px);
  margin-left: -2px;
  margin-top: -2px;
  img{
    height: calc(100vh - 58px);
    @media screen and (min-width: 800px){
      height: auto;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}
