<div class="container">
  <h1 class="text-center mt-3">Post non attivi</h1>

  <div class="row">
    <div class="col-3"></div>

    <div class="col-6">
      <div class="d-flex justify-content-center column-gap-3 pt-2">
        <button class="btn btn-primary">NUOVO POST</button>
        <button class="btn btn-primary">NUOVO UTENTE</button>
      </div>

      <div class="row">
        <!-- <div class="col-6 mt-2">
          <div class="card text-bg-primary mb-3 mx-auto" style="max-width: 18rem;">
            <div class="card-header">POST</div>
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text">{{p.body}}</p>
              <h6 class="mb-3">{{p.author}} | {{p.category}}</h6>
              <button class="btn btn-light">{{p.active ? "DISATTIVA" : "ATTIVA"}}</button>
              <button class="btn btn-danger ms-3">ELIMINA</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="spinner-border text-primary position-absolute spinner" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
