#todos-container{
  width: 90%;
  max-width: 800px;
  margin: 20px auto 0 auto;
  padding: 15px;
  min-height: calc(100vh - 116px);
  box-shadow: 0 0 10px rgba(black, 0.5);
  #new-task-container{
    box-shadow: 0 5px 10px rgba(black, 0.2);
    padding: 15px;
    form{
      display: block;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
    input{
      width: calc(100% - 70px);
      height: 25px;
      &.microtask{
        margin-top: 5px;
      }
    }
    button{
      width: 30px;
      height: 30px;
      background-color: white;
      border: none;
      font-weight: 700;
      cursor: pointer;
      svg{
        fill: #00ff00;
        position: relative;
        top: 1px;
      }
      &.add-btn{
        border: 2px solid #00ff00;
        position: relative;
        top: 1.5px;
      }
      &.first-btn{
        top: -0.3px;
      }
      &.not-visible{
        visibility: hidden;
      }
    }
  }
  &>p{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

h1{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

#todos{
  .not-visible{
    visibility: hidden;
  }
  .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(black, 0.2);
    &:not(.microtask-div){
      margin-top: 30px;
    }
    button{
      width: 30px;
      height: 30px;
      background-color: white;
      cursor: pointer;
      svg{
        margin-bottom: -2px;
      }
    }
    .delete-btn{
      border: 2px solid red;
      &:hover{
        background-color: red;
        svg{
          fill: white
        }
      }
    }
    &.microtask-div{
      width: calc(100% - 100px);
      margin-left: auto;
      cursor: default;
      &:hover{
        background-color: rgb(188, 255, 233);
      }
      &.d-none{
        display: none;
      }
      &>div{
        width: calc(100% - 60px);
        svg{
          margin-bottom: -2px;
          margin-left: 5px;
        }
      }
    }
    &.completed{
      box-shadow: 0 0 10px rgba(#00ff00, 0.5);
    }
    &:hover{
      background-color: rgb(249, 227, 255);
    }
    .todo-info-div{
      display: flex;
      align-items: center;
      column-gap: 15px;
      padding-left: 10px;
      width: calc(100% - 120px);
      &>p svg{
        cursor: pointer;
      }
    }
    .todo-info{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      p{
        cursor: default;
      }
      .todo-title{
        svg{
          margin-bottom: -2px;
          margin-left: 5px;
        }
      }
    }
    .todo-buttons{
      flex: 0 0 120px;
      display: flex;
      justify-content: end;
      column-gap: 5px;
      .edit-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.8px;
        height: 26.8px;
        border: 2px solid blue;
        &:hover{
          background-color: blue;
          svg{
            fill: white
          }
        }
      }
    }
  }
}

.loader{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  p{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
