* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.65;
    color: #393d41;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #25a2c3;
}

/* header */
header {
    background-color: black;
    text-align: center;
}

header img {
    height: 80px;
    padding: 20px 0;
}

/* main */
.intro, .info, .testimonianze, footer, footer address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, p {
    text-align: center;
}

.intro {
    padding: 30px 20px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

.intro p {
    margin-top: 20px;
}

.intro a {
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    margin: 40px 0;
}

.info {
    padding: 30px 20px;
}

.info h3 {
    margin-top: 30px;
}

.info p {
    margin-top: 10px;
}

.info img {
    border-radius: 100%;
    width: 350px;
    margin-top: 30px;
}

.testimonianze {
    background-color: #e22d0e;
    padding: 50px 20px 30px 20px;
}

.testimonianze h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.testimonianze blockquote, .testimonianze figcaption, .testimonianze p {
    color: white;
    text-align: center;
}

.testimonianze blockquote {
    font-style: italic;
    margin-bottom: 30px;
}

.testimonianze figcaption {
    font-size: 1.4rem;
}

.testimonianze p {
    font-size: 1rem;
}

.cards {
    padding: 50px 40px;
}

.cards div {
    border: 1px solid #dee1e3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.cards h3, .cards p {
    margin: 10px 20px 0 20px;
}

.cards img {
    width: 100%;
}

/* footer */
footer {
    background-color: #25a2c3;
    padding: 50px;
}

footer h2 {
    color: white;
    font-size: 2.5rem;
}

footer address {
    margin-top: 20px;
}

footer i {
    color: white;
}

footer a, footer p {
    color: #c8e7f0;
}

footer > p {
    display: inline-block;
    font-size: 1rem;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid white;
}