/* STILI PREDEFINITI */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Bree Serif', serif;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main #testoAlternato {
    padding: 15px 150px 15px 15px;
    border: 2px solid black;
    line-height: 1.5rem;
}

main #testoAlternato .parole {
    color: #6a889c;
    position: relative;
}

main #testoAlternato .parole i {
    position: absolute;
    white-space: nowrap;
    left: 4px;
    animation-name: ciclo;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    opacity: 0;
}

#parola2 {
    animation-delay: 3s;
}

#parola3 {
    animation-delay: 6s;
}

@keyframes ciclo {
    0% {top: -15px; opacity: 0}
    33% {top: 0; opacity: 1}
    66% {top: 15px; opacity: 0}
    100% {top: -15px; opacity: 0}
}