@import '../../node_modules/bootstrap/scss/functions';
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'fonts';

.hide {
    display: none;
}

.buttons {
    font-weight: 700;
    height: 30px;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    i{
        font-size: 0.6rem;
    }
}

.secondary-button{
    color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
    font-size: 0.9rem;
    &:hover{
        border: 1px solid white;
        color: white;
    }
}

.grey-text{
    color: $grey;
}
.border-p{
    border-top: 1px solid $grey;
}

header {
    .header-navbar {
        padding: 0;
        #toggler-icon{
            color: white;
        }
    }

    .navbar-brand {
        img {
            background-color: transparent;
            border: none;
            padding: 0;
            width: 120px;
        }
    }

    .text-grey {
        color: rgb(153, 153, 153);

        &:hover {
            color: red;
        }
    }

    .this-page {
        color: white;
        font-weight: 700;
    }

    .nav-box {
        row-gap: 15px;

        i {
            cursor: pointer;
        }

        .hover-red:hover {
            color: red !important;
        }

        a:hover {
            color: white;
        }

        .margin-12 {
            margin-right: 12px;

            @media screen and (min-width: 992px) {
                margin-right: 0;
                margin-left: 12px;
            }
        }

        #search-input {
            margin-right: 12px;

            @media screen and (min-width:992px) {
                margin-right: 0;
            }
        }
    }

    .transparent {
        background-color: transparent;
        border: none;
        padding-left: 0;

        @media screen and (min-width: 992px) {
            padding-left: 12px;
        }

        &:hover {
            background-color: transparent;
        }

        &:active {
            background-color: transparent;
        }

        img {
            width: 40px;
        }
    }
    #toggle::after{
        color: white;
    }
    #toggler-icon{
        filter: invert(1);
    }
    #custom-position{
        top: calc(100% + 10px);
        @media screen and (min-width: 992px){
            left: -100px;
        }
        .list-item:hover{
            background-color: $blue;
            color: white;
        }
    }
}

#gradient-header{
    background-image: linear-gradient(to bottom, black, $blue);
}

#first-div {
    #div1 {
        h1 {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    #div2 {
        .flex-div {
            width: 35px;
            height: 25px;
            border: 1px solid rgb(153, 153, 153);
            cursor: pointer;

            &:hover {
                border: 1px solid white;
            }

            &:hover i {
                color: white;
            }

            div {
                height: 50%;
            }

            i {
                color: rgb(153, 153, 153);
            }
        }
        .layout-selection{
            border: 1px solid white;
            i{
                color: white;
            }
        }

        div:last-child {
            #div-pt {
                padding-top: 1.5rem;
                margin-top: 0.1rem;
            }

            #div-pb {
                padding-bottom: 1.5rem;
                margin-bottom: 0.1rem;
            }

            i {
                font-size: 0.2rem;
            }

            .i-mr {
                margin-right: 0.15rem;
            }
        }
    }
}

.carousel-container {
    overflow: hidden;

    h2 {
        color: white;
        font-size: 1.4rem;
    }

    .carousel-div {
        position: relative;
        height: 140px;

        .carousel {
            display: flex;
            column-gap: 4px;
            transition: all 0.5s;

            img {
                height: 140px;
                width: auto;
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                }
            }
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            border: none;
            background-color: transparent;
            color: white;

            &:hover {
                background-color: rgba(255, 0, 0, 0.5);
            }

            i {
                font-size: 1.5rem;
            }
        }
        button.hover{
            background-color: rgba(255, 0, 0, 0.5);
        }
        .previous-movie {
            left: 20px;
        }
        .next-movie {
            right: 20px;
        }
    }
}
footer{
    max-width: 1000px;
    margin-top: 50px;
    @media screen and (min-width: 620px){
        margin-top: 100px;
    }
    #social-div{
        i{
            color: rgb(153, 153, 153);
            font-size: 1.5rem;
        }
    }
    #footer-div nav{
        flex: 0 0 50%;
        @media screen and (min-width: 620px){
            flex: 0 0 25%;
        }
        a{
            color: rgb(153, 153, 153);
            text-decoration: none;
            font-size: 0.9rem;
        }
    }
    #service-code{
        @extend .secondary-button;
        border-radius: 2px;
    }
    #copyright{
        font-size: 0.8rem;
        color: rgb(153, 153, 153);
    }
}

#my-container{
    max-width: 650px;
    h1{
        font-size: 2.5rem;
        border-bottom: 1px solid rgb(153, 153, 153);
    }
    figure{
        img{
            width: 150px;
        }
        button{
            bottom: 10px;
            left: 10px;
            border-radius: 100%;
            border: 2px solid white;
            background-color: $blue;
            i{
                color: white;
            }
            &:hover{
                background-color: white;
                border: 2px solid $blue;
                i{
                    color: $blue;
                }
            }
        }
    }
    #settings-div{
        #box1{
            background-color: $grey;
        }
        .settings{
            color: $grey;
            font-size: 1.2rem;
        }
        .tertiary-button{
            background-color: #333333;
        }
        label{
            cursor: pointer;
            div{
                border: 1px solid $grey;
                width: 22px;
                height: 22px;
                i{
                    font-size: 1.3rem;
                }
            }
        }
    }
    #buttons{
        row-gap: 10px;
        column-gap: 10px;
        max-width: 540px;
        button{
            height: 35px;
            font-size: 1rem;
            flex: 1 0 auto;
            letter-spacing: 0.2rem;
        }
        .white-button{
            font-weight: 700;
            color: $blue;
            background-color: white;
            &:hover{
                color: white;
                background-color: red;
            }
        }
    }
    .my-flex-div{
        column-gap: 20px;
        border-bottom: 1px solid $grey;
    }
}
#my-container2{
    .bold{
        font-weight: 700;
    }
    a{
        text-decoration: none;
        color: dodgerblue;
        font-weight: 700;
        display: block;
        &:hover{
            text-decoration: underline;
        }
    }
    button{
        background-color: #dddddd;
        border: none;
        font-size: 0.8rem;
    }
    img{
        width: 40px;
    }
}